<ion-card>
  <ion-card-header>
    <ion-card-subtitle>Current value of temperature in celsius</ion-card-subtitle>
    <ion-card-title color="primary">  <fa-icon icon="{{thermometerIcon}}"></fa-icon> Temperature</ion-card-title>
  </ion-card-header>

  <ion-card-content class="big-round-num" *ngIf="temperature">
     {{temperatureFormatted}} <span class="text-small">&deg;C</span>
  </ion-card-content>
  <ion-card-content *ngIf="!temperature">
      There is no temperature data at the moment
   </ion-card-content>
</ion-card>
