<ion-card>
  <img src="https://images.unsplash.com/photo-1491398625058-068a549b86d6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1489&q=80" alt="">
  <ion-card-header>
    <ion-card-subtitle>Current value of temperature in celsius</ion-card-subtitle>
    <ion-card-title><ion-icon name="thermometer"></ion-icon> Temperature</ion-card-title>
  </ion-card-header>

  <ion-card-content class="big-round-num">
     {{temperature}} <span class="degrees">&deg;C</span>
  </ion-card-content>
</ion-card>
