<ion-card>
  <ion-card-header>
    <ion-card-subtitle>Current value of Leaf Humidity</ion-card-subtitle>
    <ion-card-title color="primary"><fa-icon icon="leaf"></fa-icon>Leaf Humidity</ion-card-title>
  </ion-card-header>

  <ion-card-content class="big-round-num" *ngIf="leafHumidity && !loading">
    {{leafHumidity}} <span class="text-small">%</span>
  </ion-card-content>

  <ion-card-content class="big-round-num" *ngIf="loading">
    <ion-spinner color="danger" name="dots"></ion-spinner>
  </ion-card-content>
</ion-card>
