ion-card {
  .ng-fa-icon {
    position: absolute;
    top: 15px;
    left: 15px;
    font-size: 35px;
    color: white;
  }

  img {
    max-height: 220px;
  }
}

ion-card-title {
  display: flex;
  align-items: center;
}

.big-round-num {
  font-size: 40px;
  font-weight: bold;

  ion-icon {
    margin-right: 30px;
  }

  .degrees {
    font-size: 30px;
  }
}

.text-small {
  font-size: 15px;
}