ion-card {
  .ng-fa-icon {
    padding-right: 10px;
  }

  img {
    max-height: 220px;
  }

  ion-card-title {
    font-size: 25px;
  }
}

ion-card-title {
  display: flex;
  align-items: center;
}

.big-round-num {
  font-size: 40px;
  font-weight: bold;

  ion-icon {
    margin-right: 30px;
  }

  .degrees {
    font-size: 30px;
  }
}

.text-small {
  font-size: 15px;
}

.info-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}