<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Live Meteo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-refresher slot="fixed" (ionRefresh)="refreshPage($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <app-temperature [temperature]="temperature" [imageHref]="tempImage"></app-temperature>
  <app-wind-info [windInfo]="windInfoObj"></app-wind-info>
  <app-rainfall [rainfall]="raindfallAmount"></app-rainfall>
  <app-solar-irradiance [irradiance]="solarIrradiance"></app-solar-irradiance>
</ion-content>
